<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">
      <ion-buttons slot="start">
        <ion-button routerLink="/user-profile">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <h2 class="title">Setting</h2>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-no-padding">
    <ion-item>
      <ion-label>FAQ</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>My Address</ion-label>
      <ion-icon
        slot="end"
        name="chevron-forward-outline"
        (click)="goToAddAddress()"
      ></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Terms & Conditions</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Privacy Policy</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Edit Profile</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Change Password</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item lines="none" class="ion-text-danger">
      <ion-label>Delete Account</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Logout</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
