.header {
  display: flex;
  align-items: center;

  ion-buttons {
    margin-right: 10px;
  }

  ion-icon {
    color: #2596be;
  }

  .title {
    font-size: 2rem;
    font-weight: 700;
    color: #c7c7c7;
    margin: 0;
    padding: 0;
    margin-left: 15px;
  }
}

ion-item {
  --border-color: #2596be;
  ion-label {
    color: #000;
  }
}

.ion-text-danger {
  ion-label {
    color: #2596be;
  }
}
